*{
    margin: 0px;
    font-family: 'Anton', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    position: relative;
}
.container h1{
    display: inline-block;
    padding: 25px;
    font-size: 40px;
}
.child{
    height: 365px;
    width: 700px;
    background: red;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* align-items: center; */
    text-align: center;
}
.child h2{
    margin-top: 10px;
}
.child input{
    margin: 10px;
    padding: 5px;
    outline: none;
    border: none;
}
.child img{
    height: 200px;
    width: 200px;
}
#submit{
    width: 200px;
    outline: none;
}
#submit:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}